html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F7F3E3;
}

body {
    margin: 0 auto;
    color: #1A1D1A;
}

* {
    box-sizing: border-box;
}

.column{
    float: left;
    padding: 10px;
    height: 1000px;
}

.plot__form{
    position: fixed;
    width: 30%;
}

.plots{
    width: 70%;
    margin-left: 30%; /*to zależy od plot__form width%*/
}

.graph{
    width: 80%;
    margin: auto;
}

input[type="range"] {
    width:300px;
  }