html {
    font-family: Baloo,system-ui,sans-serif;
    letter-spacing: 1px;
    background-color: var(--plot-background);
}

:root{
    --plot-background: #1c7293;
    --input: #62a87c;
    --font-main: #1A1D1A;
}

body {
    margin: 0 auto;
    color: var(--font-main);
}

* {
    box-sizing: border-box;
}

.column{
    float: left;
}

.plot__form{
    position: fixed;
    width: 30%;
    height: 100%;
    padding: 10px;
    background-color: #F7F3E3;
}

.plots{
    width: 70%;
    height: 100vh; /*ustawić w zależności od ułożenia wykresów*/
    margin-left: 30%; /*to zależy od plot__form width%*/
    background-color: var(--plot-background);
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-snap-stop: always;
}

.graph{
    width: 90%;
    margin: auto;
    scroll-snap-align: start;
}

.form__fieldset{
    margin: 30px;
    font-size: large;
    display: flex;
    flex-wrap: wrap;
}

.form__label{
    width: auto;
    margin-right: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.number{
    width: 20%;
}

.form__select{
    width: 100%;
    min-width: 15ch;
    font-family: Baloo,system-ui,sans-serif; /*trzeba nie wiem czemu w przyciskach powtarzać font*/
    letter-spacing: 1px;
    color: var(--font-main);
    background-color: var(--input);
    border-radius: 0.4em;
    padding: 0.25em 0.5em;
    font-size: medium;
    cursor: pointer;
}

.form__select:hover{
    filter: brightness(80%);
}

.form__slider {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    border-radius: 1em;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.form__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 1em;
    background: var(--input);
    cursor: pointer;
}

.form__slider::-moz-range-thumb:hover,
.form__slider::-webkit-slider-thumb:hover{
    filter: brightness(80%);
}

.form__slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 1em;
    background: var(--input);
    cursor: pointer;
}

.button{
    font-size: medium;
    font-family: Baloo,system-ui,sans-serif; /*trzeba nie wiem czemu w przyciskach powtarzać font*/
    letter-spacing: 1px;
    color: var(--font-main);
    font-weight: 600;
    cursor: pointer;
    margin: auto;
    width: 100%;
    height: 34px;
    background-color: var(--input);
    border:  none;
    border-radius: 0.4em;
}

.button:hover{
    filter: brightness(80%);
}

.button:active{
    filter: brightness(70%);
}

.form__submit{
    background-color: var(--font-main);
    height: 60px;
    font-size: x-large;
    font-weight: 700;
    margin-top: 30px;
    color: #d3d3d3;
    border: no;
}

.form__submit:not(:disabled):hover{
    filter: brightness(140%);
}

.form__submit:disabled{
    filter: brightness(160%);
}

.loader-overlay {
    position: fixed;
    width: 70%;
    height: 100%;
    margin-left: 30%;
    background: rgba(2, 2, 2, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.cssload-loading{
	width: 22px;
	height: 22px;
	text-align: left;
	animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-o-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
		-webkit-animation:cssload-loading-ani1 2.3s ease-in-out infinite;
}
.cssload-loading i,
.cssload-loading i:before{
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
}
.cssload-loading i{
	border-radius: 50%; 
	overflow: hidden;
}
.cssload-loading i:nth-child(1){
	background: var(--input);
	transform:translate(0,-18px);
		-o-transform:translate(0,-18px);
		-webkit-transform:translate(0,-18px);
}
.cssload-loading i:nth-child(2){
	background: var(--input);
	transform:translate(0,18px);
		-o-transform:translate(0,18px);
		-webkit-transform:translate(0,18px);
}

@keyframes cssload-loading-ani1{
	40%,50%{
		transform:rotate(180deg);
	}
	90%,100%{
		transform:rotate(360deg);
	}
}

@-o-keyframes cssload-loading-ani1{
	40%,50%{
		-o-transform:rotate(180deg);
	}
	90%,100%{
		-o-transform:rotate(360deg);
	}
}

@-webkit-keyframes cssload-loading-ani1{
	90%,100%{
		-webkit-transform:rotate(360deg);
	}
}
