<!DOCTYPE html>

<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podstawy Automatyki</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <form action="/" method = "post" id="plot_form" class="column plot__form">
        <div class="form__fieldset">
            <label for="substance" class="form__label">Kwas:</label>
            <select name="substance" id="substance" class=" form__select" required>
                {% for opt in options %}
                    <option value="{{ opt.name }}" pH_min={{ opt.pH_min }} cp_min={{ opt.cp_min }} cp_max={{ opt.cp_max }}>{{opt.name}} - {{opt.symbol}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form__fieldset">
            <label for="cp" class="form__label">Stężenie kwasu:</label>
            <output class="number" id="shown_cp">50%</output>
            <input type="range" name="cp" id="cp" class="form__slider" min="0" max="1" step="0.01" value="0.5" oninput="this.previousElementSibling.value = (this.value*100).toFixed(0)+'%'">
        </div>

        <div class="form__fieldset">
            <button type="button" class="button" id="cp_button">Słabe zakłócenie</button>
            <input type="hidden" name="cp_level" id="cp_level" value="mild">
        </div>

        <div class="form__fieldset" id="cp_type_button">
            <button type="button" class="button" id="type_button">Sinusoidalne</button>
            <input type="hidden" name="cp_type" id="cp_type" value="sin">
        </div>
        
        <div class="form__fieldset">
            <label for="pH" class="form__label">Docelowe pH:</label>
            <output class="number" id="shown_pH">5</output>
            <input type="range" name="pH" id="pH" class="form__slider" min="0" max="5" step="0.01" value="5" oninput="this.previousElementSibling.value = this.value">
        </div>

        <div class="form__fieldset">
            <button type="button" class="button" id="control_button">PI</button>
            <input type="hidden" name="control_system" id="control_system" value="pi">
        </div>

        <div class="form__fieldset">
            <input class="form__submit button" type="button" value="Zatwierdź" onclick="updatePlot()">
        </div>

    </form>
    <div class="column plots" id="graphs">
        <div id='graph1' class='graph'></div>
        <div id='graph2' class='graph'></div>
        <div id='graph3' class='graph'></div>
        <div id='graph4' class='graph'></div>
    </div>

</body>
    <!-- skrypty -->

    <script>
        function updatePlot() {
            fetch('/', {
                method: 'POST',
                body: new URLSearchParams(new FormData(document.getElementById('plot_form'))),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => response.json())
            .then(data => {
                var graphs = data.graphs;

                graphs.forEach(graphsData => {
                    var graphID = graphsData.id;
                    var graphJSON = JSON.parse(graphsData.graphJSON);
                    
                    Plotly.react(graphID, graphJSON, {});
                });

            })
            .catch(error => console.error('Error:', error));
        }
    </script>

    <script>
        //zmienianie pH_min, cp_min, cp_max i ewentualnie pH, cp na sliderze podczas zmieniania kwasu
        document.getElementById('substance').addEventListener('change', function() {
            var option = this.options[this.selectedIndex];
            
            var new_pH_min = parseFloat(option.getAttribute('pH_min')).toFixed(2);
            var current_pH = parseFloat(document.getElementById('pH').value).toFixed(2);

            var new_cp_min = parseFloat(option.getAttribute('cp_min')).toFixed(2);
            var new_cp_max = parseFloat(option.getAttribute('cp_max')).toFixed(2);
            var current_cp = parseFloat(document.getElementById('cp').value).toFixed(2);
            console.log(new_cp_max);
            console.log(new_cp_min);
            document.getElementById('pH').min = new_pH_min;
            document.getElementById('cp').min = new_cp_min;
            document.getElementById('cp').max = new_cp_max;
            if(current_pH < new_pH_min){
                document.getElementById('pH').value = new_pH_min;
                document.getElementById('shown_pH').value = new_pH_min;
            }
            if(current_cp < new_cp_min){
                document.getElementById('cp').value = new_cp_min;
                document.getElementById('shown_cp').value = (new_cp_min * 100) + '%';
            }
            else if(current_cp > new_cp_max){
                document.getElementById('cp').value = new_cp_max;
                document.getElementById('shown_cp').value = (new_cp_max * 100) + '%';
            }
        });
    </script>

    <script>
        var button = document.getElementById('cp_button');
        var cp_input = document.getElementById('cp_level');
        var type_button = document.getElementById('cp_type_button');
        button.addEventListener('click', function() {
            if(button.textContent == "Słabe zakłócenie"){
                    button.textContent = "Mocne zakłócenie";
                    cp_input.value = "heavy";
            }
            else{
                button.textContent = "Słabe zakłócenie";
                cp_input.value = "mild";
            } 
        });
    </script>

    <script>
        var cp_button = document.getElementById('type_button');
        var cp_type = document.getElementById('cp_type');
        cp_button.addEventListener('click', function() {
            if(cp_button.textContent == "Sinusoidalne"){
                cp_button.textContent = "Losowe";
                cp_type.value = "rand";
            }
            else if(cp_button.textContent == "Losowe"){
                cp_button.textContent = "Stałe";
                cp_type.value = "const";
            }
            else{
                cp_button.textContent = "Sinusoidalne";
                cp_type.value = "sin";
            }
        })
    </script>

    <script>
        var control_button = document.getElementById('control_button');
        var control_system = document.getElementById('control_system');
        control_button.addEventListener('click', function() {
            if(control_button.textContent == "PI"){
                control_button.textContent = "PID";
                control_system.value = "pi";
            }
            else{
                control_button.textContent = "PI";
                control_system.value = "pi";
            }
        })
    </script>

    <!--to na razie nie dziala-->
    <!-- <script>
        var graph = document.getElementById('graphs');
        graph.innerHTML = '<p class="graph__note">Tu znajdzie się twój wykres</p>';
    </script> -->
</html>