<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guwno</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <img src="../static/misc/dino.jpg" alt="dino" class="big_image">
    <p>JOOOOOOOOOOOOO</p>
    <form action="/" method = "post">
        <div class="form__fieldset">
            <label for="height" class="form__label">Height of container:</label>
            <input type="number" name="height" id="height" class="form__input" step="0.01">
        </div>
        <div class="form__fieldset">
            <label for="substance" class="form__label">What substance:</label>
            <select name="substance" id="substance" class="form__input form__select">
                <option value="H2SO4">H2SO4</option>
                <option value="NaCl">NaCl</option>
            </select>
        </div>

        <div class="form__fieldset">
            <input class="form__submit form__input" type="submit" value="Proceed">
        </div>

        <div id="plotly-plot"></div>
        {{ plot_html|safe }}
    </form>
</body>

</html>