<!DOCTYPE html>

<html lang="pl-PL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Podstawy Automatyki</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
</head>

<body>
    <img src="../static/misc/dino.jpg" alt="dino" class="big_image">

    <form action="/" method = "post" id="plot_form">
        <div class="form__fieldset">
            <label for="substance" class="form__label">Kwas:</label>
            <select name="substance" id="substance" class="form__input form__select" required>
                {% for opt in options %}
                    <option value="{{ opt.name }}" pH_min={{ opt.pH_min }}>{{opt.name}}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form__fieldset">
            <label for="pH" class="form__label">Docelowe pH:</label>
            <input type="range" name="pH" id="pH" class="form__input form__slider" min="0" max="5" step="0.01" value="5" oninput="this.nextElementSibling.value = this.value">
            <output id="shown_pH">5</output>
        </div>

        <div class="form__fieldset">
            <button type="button" class="button" id="cp_button">Brak zanieczyszczenia</button>
            <input type="hidden" name="cp_type" id="cp_type" value="Brak zanieczyszczenia">

        </div>

        <div class="form__fieldset">
            <input class="form__submit form__input" type="button" value="Zatwierdź" onclick="updatePlot()">
        </div>

    </form>

    <!-- <div id="plotly-plot"></div> -->
    <div id='graph1' class='graph1'></div>
    <div id='graph2' class='graph2'></div>
</body>
    <!-- skrypty -->

    <script>
        function updatePlot() {
            fetch('/', {
                method: 'POST',
                body: new URLSearchParams(new FormData(document.getElementById('plot_form'))),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
            })
            .then(response => response.json())
            .then(data => {
                var graphs = data.graphs;

                graphs.forEach(graphsData => {
                    var graphID = graphsData.id;
                    var graphJSON = JSON.parse(graphsData.graphJSON);
                    
                    Plotly.react(graphID, graphJSON, {});
                });

            })
            .catch(error => console.error('Error:', error));
        }
    </script>

    <script>
        //zmienianie pH_min i ewentualnie pH na slider podczas zmieniania kwasu
        document.getElementById('substance').addEventListener('change', function() {
            var option = this.options[this.selectedIndex];
            // tu albo zostawiamy zaokrąglanie albo dodajemy do kwasów zaokrąglanie
            var new_pH_min = parseFloat(option.getAttribute('pH_min')).toFixed(2);
            var current_pH = parseFloat(document.getElementById('pH').value).toFixed(2);

            document.getElementById('pH').min = new_pH_min;
            if(current_pH < new_pH_min){
                document.getElementById('pH').value = new_pH_min;
                document.getElementById('shown_pH').value = new_pH_min;
            }
        });
        document.getElementById('substance').dispatchEvent(new Event('change'));
    </script>

    <script>
        var button = document.getElementById('cp_button');
        var cp_input = document.getElementById('cp_type');
        button.addEventListener('click', function() {
            switch(button.textContent){
                case "Brak zanieczyszczenia":
                    button.textContent = "Słabe zanieczyszczenie";
                    cp_input.value = "mild"; //nazwy stężenia (na razie takie, trezba bedzie zmienić)
                    break;
                case "Słabe zanieczyszczenie":
                    button.textContent = "Mocne zanieczyszczenie";
                    cp_input.value = "heavy";
                    break;
                case "Mocne zanieczyszczenie":
                button.textContent = "Brak zanieczyszczenia";
                    cp_input.value = "zero";
                    break;
                default:
                    break;
            }
        });
    </script>
    <script>
        var graph = document.getElementById('graph');
        graph.innerHTML = '<p class="graph__note">Tu znajdzie się twój wykres</p>';
    </script>
</html>